.img-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 15px;
  cursor: pointer;
}
