.contact-me {
  /* background: #f8f0e8; */
  margin: 0px auto;
  max-width: 90%;
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  padding: 0 12% 50px 12%;
}

.contact-column {
  flex-basis: 40%;
}

.contact-column h3 {
  margin-bottom: 15px;
}

.contact-column ul li {
  list-style: none;
  margin: 15px 0;
}

.contact-column ul li img {
  width: 25px;
  margin-right: 20px;
}

.contact-column form input,
.contact-column form textarea {
  /* flex-basis: 55%; */
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  width: 450px;
}
