/* .modalBackground {
  background-color: brown;
} */

.modalContainer {
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.9);
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 500;
  /* border: 2px dotted yellow; */
}

.modalWrapper {
  /* border: 5px solid blue; */
  display: flex;
  /* object-fit: cover; */
  margin-left: 40px;
  margin-right: 40px;
}

.modalRight {
  background: white;
  width: 400px;
}

.modalWrapper .modalLeft {
  /* border: 5px solid purple; */
  max-width: 800px;
  max-height: 800px;
  /* overflow: hidden; */
}

.modalWrapper .modalLeft > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.userInfo {
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
}

/* .userInfo .profilePhoto {
  max-width: 50px;
} used to set for InstagramIcon but no longer needed */

.userInfo .userName {
  padding-left: 10px;
  font-weight: bold;
}

.photoCaption {
  /* border: 5px solid pink; */
  padding: 20px 20px 0 20px;
  /* font-style: italic; */
}
