/* --- media query ---  */

@media (max-width: 1150px) {
  .contact-column iframe {
    height: 350px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .contact-column iframe {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contact-column iframe {
    height: 200px;
    width: 100%;
  }
}
